.topbox{
    height: 120px;
    background-color: #aedd94;
    border: 1px solid black;
    margin: 30px 30px 60px 30px;
}

.container{
    display: flex;
    margin: 30px 30px 40px 30px;
    justify-content: space-between;
}

.box{
    height: 180px;
}

.container .box:nth-child(1){
    background-color: #f4eb49;
    width: 15%;
    border: 1px solid black;
}

.bg-orange{
    background-color: coral;
    border: 1px solid black;

}

.container .box:nth-child(2){
    width: 80%;
    height: 180px;
}

.bg-blue{
    background-color: aqua;
    border: 1px solid black;

}

