body{
    background-color: bisque;
    margin: 30px 15px 30px 15px;
}

.box1 .gambar1{
    width: 22.8%;  
    float: left;
}

.box2 .gambar2{
    width: 21.3%;    
    float: left;
    margin-left: 35px;
}

.box3 .gambar3{
    width: 23.4%;   
    float: left; 
    margin-left: 35px;
}

.box4 .gambar4{
    width: 23.8%;    
    float: left;
    margin-left: 35px;
}

